<div class="shop-menu pull-right">
    <div class="btn-toolbar pull-right">
        <a asp-action="Login" asp-controller="Account" class="btn btn-link" style="outline:none; color:green">
            <div><i class="fa fa-sign-in-alt"></i> Вход</div>
        </a>
        <a asp-action="Register" asp-controller="Account" class="btn btn-link">
            <div><i class="fa fa-user-plus"></i> Регистрация</div>
        </a>
    </div>
</div>