<div class="shop-menu pull-right">
    <div class="btn-toolbar pull-right">
        <a asp-controller="Profile" asp-action="Index" class="btn btn-link"><i class="fa fa-user"></i> Здравствуйте, @User.Identity.Name !</a>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index"class="btn btn-link"><i class="fa fa-key"></i> Админка</a>
        }
        <a href="#" class="btn btn-link"><i class="fa fa-star"></i> Список желаний</a>
        <a asp-controller="Home" asp-action="CheckOut" class="btn btn-link"><i class="fa fa-crosshairs"></i> Заказы</a>
        <a asp-controller="Cart" asp-action="Details" class="btn btn-link"><i class="fa fa-shopping-cart"></i> Корзина</a>
        <button form="form_submit" type="submit" class="btn btn-link" style="outline:none; color:red"><i class="fa fa-sign-out-alt"></i> Выход</button>
    </div>
    <form id=form_submit asp-controller="Account" asp-action="Logout" asp-antiforgery="true" method="post"></form>
</div>